body {
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url(https://cdn.dribbble.com/users/1108089/screenshots/2955959/dribbble.gif);
  background-size: cover;
}

.wrapping {
  margin: auto;
  max-width: 1000px;
  padding: 20px;
  border-radius: 20px;
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(8px);
  background-position: center center;
  background-size: cover;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.container h1 {
  font-size: 45px;
  font-family: "Merriweather", serif;
  padding-top: 70px;
}
.container h2 {
  font-family: "Merriweather", serif;
}

.container h3 {
  font-family: "Merriweather", serif;
}

ul li {
  list-style: none;
  color: black;
  font-family: "Merriweather", serif;
}

ul li {
  position: relative;
  width: 100%;
  bottom: 60px;
  right: 95px;
}

#temperature {
  font-size: 50px;
}
#celsius-link {
  font-size: 20px;
}
#fahrenheit-link {
  font-size: 20px;
}

a:link {
  text-decoration: none;
  color: black;
}

.weather-forecast-date {
  font-family: "Merriweather", serif;
  margin-top: 10px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 20px;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 15px;
}

.active {
  cursor: default;
  color: #000;
}

.gitLink {
  font-family: "Merriweather", serif;
  font-weight: none;
  font: 5px;
}
#current-location-button {
  background-color: #096386;
  color: white;
  text-align: left;
  font-weight: bold;
}

#submit1 {
  background-color: #096386;
  color: white;
  text-align: left;
  font-weight: bold;
}
#submit-now {
  background-color: #f0f9f5;
  color: grey;
}
